body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #4e007e, #8e44ad);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 30px;
  width: 500px; 
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  font-size: 40px; 
  color: #fff;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

label {
  display: flex;
  width: 100%;
}

.icon {
  margin-right: 12px;
  font-size: 40px; 
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px; 
  outline: none;
  font-size: 16px; 
}

input::placeholder {
  color: #bbb;
}

.login-button {
  background-color: #333030;
  color: #fff;
  padding: 15px; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.login-button:hover {
  background-color: #333;
}

a {
  color: #f1c40f;
  text-decoration: none;
  font-size: 20px; 
}

a:hover {
  text-decoration: underline;
}

